<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/watchlists">My Watchlists</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>